*{
    margin:0px;
}
.flex-container{
    background-color: aqua;
    height:100vh;
    gap: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;     /* allows flex items to move in next line when there is isnt enough space in container*/

}
.flex-item{
height: 100px;
width: 100px;
border:10px inset rebeccapurple;
transition:2s all 
}
.flex-item:hover{
background-color: darkgreen;
transform:rotate(90deg);
}
