body{
margin:0;
background-color: black;
}
div{
height: 200px;
width: 200px;
}
.d1{
    background-color: blue;
    border-width:20px;
    border-style:groove;
    border-color:antiquewhite;
}
.d2{
background-color: chartreuse;
border-width:40px;
border-top-style:solid;
border-bottom-style: outset;
border-color:palevioletred;

}
.d3{ 
    background-color: brown;
     border:20px inset green;
}
.bg-img{
    border:14px groove lightcoral;
    background-image: url(https://img.magnific.com/free-photo/cute-dog-with-nature-background_23-2150687003.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}
.bg-img2{
    border-width: 10px;
    border-style:dashed;
    border-color:blueviolet;

}
.bg-img3{
 border:10px solid white;
 background-image: url(https://img.magnific.com/free-psd/vibrant-sunflower-closeup-summer-bloom_191095-84681.jpg);
 background-position: center;
 background-repeat:no-repeat ;
 background-size:contain;
 border-radius: 50%;
 border-top-color: aqua;
 border-bottom-color:chocolate;
 border-right-color: chartreuse;
 border-left-color:crimson;
}